#my-widget {

}

.port-radio.active {
    border: 3px solid #39a5b4;
}

.term-radio.active {
    border: 3px solid #39a5b4;
}

.bandwidth-radio.active {
    border: 3px solid #39a5b4;
}

input[type="radio"]:not(:checked) {
    border: 2px solid red;
}

.point {
    color: #39a5b4;
    border-bottom: 3px solid #39a5b4;
    width: 13%;
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui;
    padding-bottom: 8px;
}

.postcode h6 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
    margin-top: 2%;
}

.postcode p {
    font-size: 0.9rem;
    margin-bottom: 5px;
    opacity: 50%;
}

.postcode input {
    font-size: 16px;
    height: 45px;
    background: rgb(57 165 180 / 20%);
    padding-left: 5%;
}

.port-a label {
    font-size: 16px;
    font-weight: 700;
    margin: 4px 0px 4px 5px;
}

.port-b label {
    font-size: 16px;
    font-weight: 700;
    margin: 0px 0px 4px 5px;
}

.port-radio {
    border-radius: 5px;
    border-style: solid;
    border-color: #e5f0ef;
    width: 16%;
    padding: 4px 0px 1px 8px;
    font-size: 11px;
    position: relative;
    display: inline-flex;
    margin: 0px 0px 0px 3px;
    box-shadow: 2px 2px 2px 0px #eef2f7;
}

    .port-radio label {
        font-size: 11px;
        margin: 0 auto 0 3px;
        padding: 8px;
        width: 100%;
        cursor: pointer;
    }

.bandwidth {
    font-size: 16px;
    font-weight: 700;
}

.bandwidth-radio {
    border-radius: 5px;
    border-style: solid;
    border-color: #e5f0ef;
    width: 76%;
    padding: 4px 0px 1px 8px;
    font-size: 11px;
    position: relative;
    display: inline-flex;
    margin: 0px 6px 7px 40px;
    box-shadow: 2px 2px 2px 0px #eef2f7;
}

    .bandwidth-radio label {
        margin: 0 auto 0 3px;
        padding: 8px;
        width: 100%;
        cursor: pointer;
    }

.term {
    font-size: 16px;
    font-weight: 700;
    margin: 2px 0px 0px 5px;
}

.term-radio {
    border-radius: 5px;
    border-style: solid;
    border-color: #e5f0ef;
    width: 16%;
    padding: 4px 0px 1px 8px;
    font-size: 11px;
    position: relative;
    display: inline-flex;
    margin: -2px 0px 0px 4px;
    box-shadow: 2px 2px 2px 0px #eef2f7;
}

    .term-radio label {
        margin: 0 auto 0 3px;
        padding: 8px;
        width: 100%;
        cursor: pointer;
    }

form button[type="submit"] {
    background-color: #cf7938;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0px 0px 5px;
}

.error {
    color: red;
    margin: 0 1% 0 0;
}

.neos-logo {
    color: #3ab1a5;
    font-size: 28px;
    font-weight: 700;
    font-family: cursive;
    margin-left: 22px;
}

    .neos-logo img {
        width: 10%;
        position: relative;
        right: 12px;
        top: 9px;
    }

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error-message {
    color: red;
    font-weight: 200;
    font-family: cursive;
}

.neos-pricing-widget input[type="radio"] {
    margin: 0;
}

.slider {
    margin-bottom: 30px;
    position: relative;
}

    .slider .owl-item.active.center .slider-card {
        transform: scale(1.15);
        opacity: 1;
        background: #ff9966;
        background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966);
        background: linear-gradient(to bottom, #ff5e62, #ff9966);
        color: #fff;
    }

.slider-card {
    background: #fff;
    padding: 0px 0px;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
}

    .slider-card img {
        border-radius: 5px 5px 0px 0px;
    }

.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}

.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}


.owl-stage-outer {
    margin: 0 25px;
}

.owl-dots {
    text-align: center;
}

    .owl-dots .owl-dot {
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background: #ccc !important;
        margin-left: 3px;
        margin-right: 3px;
        outline: none;
    }

        .owl-dots .owl-dot.active {
            background: #f44336 !important;
        }

.card-body {
    border: 2px solid #cf7938;
    border-radius: 7px;
    height: 530px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

.card-title {
    margin: 0 -10px 15px;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid #cf7938;
}

.card-text {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.price {
    color: #39a5b4;
    font-weight: 700;
    font-size: 18px;
}

i.fa.fa-chevron-left {
    color: #cf7938;
}

i.fa.fa-chevron-right {
    color: #cf7938;
}

.back-button {
    background-color: #cf7938;
    color: white;
    padding: 8px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0px 0px 3px;
    height: 40px;
}

a.btn.text-white {
    background-color: #55acee;
    position: absolute;
    bottom: 10px;
    color: white;
    text-decoration: none;
}

.quotesHeading h3 {
    text-align: center;
}

.quotesHeading h4 {
    text-align: center;
}

.hidden {
    display: none;
}

.product-type {
    margin-top: 20px;
}

    .product-type .row {
        display: flex;
        flex-wrap: wrap;
    }

.product-type-col {
    flex: 1;
}

.product-type-item {
    padding: 20px;
    border-radius: 4px;
}

.product-type-list {
    margin-bottom: 10px;
}

.product-type-nav {
    display: flex;
}

.product-type-link {
    padding: 10px;
    color: #39a5b4;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    margin-right: 5px;
    border-bottom: 3px solid #39a5b4;
}

.point-nav {
    color: #39a5b4;
    border-bottom: 3px solid #39a5b4;
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui;
    padding-bottom: 8px;
    margin: 0px 2% 0 0;
    cursor: pointer;
    text-decoration: none !important;
}

.nni-nav {
    color: #39a5b4;
    border-bottom: 3px solid #39a5b4;
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui;
    padding-bottom: 8px;
    cursor: pointer;
    text-decoration: none !important;
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
    cursor: pointer;
    background: rgb(57 165 180 / 20%);
}

.tab-nni h6 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 4%;
}

.postcode-a h6 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
    margin-top: 2%;
}

.postcode-a p {
    font-size: 0.9rem;
    margin-bottom: 5px;
    opacity: 50%;
}

.postcode-a input {
    font-size: 16px;
    height: 45px;
    background: rgb(57 165 180 / 20%);
    padding-left: 5%;
}

.img-area {
    width: 70%;
    height: 35px;
}

.a-end p {
    font-weight: 100;
    margin: 10px 0;
}

.b-end p {
    font-weight: 100;
    margin: 10px 0;
}

.a-end p b, .b-end p b {
    font-weight: 400;
}